t#19/src/main/resources/Items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.epam.tc.com/notes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="items" type="not:itemsType" xmlns:not="http://www.epam.tc.com/notes"/>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="Id" type="xs:integer">
      </xs:element>
      <xs:element name="OwnerId" type="xs:integer">
      </xs:element>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Price" type="xs:double">
      </xs:element>
      <xs:element name="Status">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="Available|Rented"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="not:ItemType" name="Item" maxOccurs="unbounded" minOccurs="0" xmlns:not="http://www.epam.tc.com/notes"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>